<mat-expansion-panel hideToggle *ngIf="game" [gameDirective]="game.installed">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-checkbox [checked]="game.installed" (change)="changeInstalled()" (click)="$event.stopPropagation()"></mat-checkbox>
            {{ game.title }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
        <li>Genre: {{ game.genre }}</li>
        <li>Release date: {{ game.releaseDate | date: "dd/MM/yyyy" }}</li>
        <li>Multiplayer: {{ game.multiplayer | multiplayer }}</li>
        <li>Installed: {{ game.installed | installed }}</li>
    </ul>
</mat-expansion-panel>