<mat-expansion-panel hideToggle *ngIf="game" [gameDirective]="game.installed">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-checkbox [checked]="game.installed" (change)="changeInstalled()" (click)="$event.stopPropagation()"></mat-checkbox>
            {{ game.title }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
        <li>Genre: {{ game.genre }}</li>
        <li>Release date: {{ game.releaseDate | date: "dd/MM/yyyy" }}</li>
        <li>Multiplayer: {{ game.multiplayer | multiplayer }}</li>
        <li>Installed: {{ game.installed | installed }}</li>
    </ul>
    <button mat-raised-button color="accent" class="buttons" (click)="openDialog()">Update</button>
    <button mat-raised-button color="warn" class="buttons" (click)="deleteGame()">Remove</button>
    <ng-template #dialogTemplate>
        <app-dialog>
            <app-game-form requestType="update" [newGame]="game"></app-game-form>
        </app-dialog>    
    </ng-template>
</mat-expansion-panel>